$icomoon-font-family: "linecons" !default;
$icomoon-font-path: "fonts" !default;

$linecons-heart-icon: "\e900";
$linecons-cloud-icon: "\e901";
$linecons-star-icon: "\e902";
$linecons-tv-icon: "\e903";
$linecons-sound-icon: "\e904";
$linecons-video-icon: "\e905";
$linecons-trash-icon: "\e906";
$linecons-user-icon: "\e907";
$linecons-key-icon: "\e908";
$linecons-search-icon: "\e909";
$linecons-settings-icon: "\e90a";
$linecons-camera-icon: "\e90b";
$linecons-tag-icon: "\e90c";
$linecons-lock-icon: "\e90d";
$linecons-bulb-icon: "\e90e";
$linecons-pen-icon: "\e90f";
$linecons-diamond-icon: "\e910";
$linecons-display-icon: "\e911";
$linecons-location-icon: "\e912";
$linecons-eye-icon: "\e913";
$linecons-bubble-icon: "\e914";
$linecons-stack-icon: "\e915";
$linecons-cup-icon: "\e916";
$linecons-phone-icon: "\e917";
$linecons-news-icon: "\e918";
$linecons-mail-icon: "\e919";
$linecons-like-icon: "\e91a";
$linecons-photo-icon: "\e91b";
$linecons-note-icon: "\e91c";
$linecons-clock-icon: "\e91d";
$linecons-paperplane-icon: "\e91e";
$linecons-params-icon: "\e91f";
$linecons-banknote-icon: "\e920";
$linecons-data-icon: "\e921";
$linecons-music-icon: "\e922";
$linecons-megaphone-icon: "\e923";
$linecons-study-icon: "\e924";
$linecons-lab-icon: "\e925";
$linecons-food-icon: "\e926";
$linecons-t-shirt-icon: "\e927";
$linecons-fire-icon: "\e928";
$linecons-clip-icon: "\e929";
$linecons-shop-icon: "\e92a";
$linecons-calendar-icon: "\e92b";
$linecons-wallet-icon: "\e92c";
$linecons-vynil-icon: "\e92d";
$linecons-truck-icon: "\e92e";
$linecons-world-icon: "\e92f";

