.coc-smooth-padding{
  transition: padding linear 0.1s;
}
.coc-smooth-margin{
  transition: margin linear 0.1s;
}
.coc-smooth-width{
  transition: width linear 0.1s;
}
.coc-smooth-height{
  transition: height linear 0.1s;
}