// Main Theme
$colors-list: (
// Primary
"primary": #e91e63,
"light-primary": #f8bbd0,
"primary-alpha-first": rgba(233, 30, 99, 0.2),
"primary-alpha-half": rgba(233, 30, 99, 0.5),
"primary-alpha-end": rgba(233, 30, 99, 0.8),
"dark-primary":#880e4f,

// Secondary
"secondary":#fff,
// States **

// Info
"light-info": #e3f2fd,
"info":#2196f3,
"dark-info": #0d47a1,

// Success
"light-success": #e8f5e9,
"success":#66bb6a,
"dark-success": #388e3c,

// Warning
"light-warning": #ffd54f,
"warning":#ffc107,
"dark-warning":#ff8f00,

// Error
"light-error": #ef5350,
"error":#f44336,
"dark-error": #c62828,


// Typography
"title":#17233d,
"content":#515a6e,
"subColor":#808695,
"disabled":#c5c8ce,

// Bounds
"border":#dcdee2,
"dark-border":#9e9e9e,
"light-border":#fafafa,
"divider":#e8eaec,
"white":#ffffff,
"black": #000,
"carbon": #2d2e2e,
"light-background":#ffffff,
"background":#f8f8f9
);
// Borders
$border-radius: (
	"tiny": 3px,
	"standard": 5px,
	"rounded": 12px,
	"circle": 50%,
);
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}