$icomoon-font-family: "elegant" !default;
$icomoon-font-path: "fonts" !default;

$elegant-mobile-icon: "\e000";
$elegant-laptop-icon: "\e001";
$elegant-desktop-icon: "\e002";
$elegant-tablet-icon: "\e003";
$elegant-phone-icon: "\e004";
$elegant-document-icon: "\e005";
$elegant-documents-icon: "\e006";
$elegant-search-icon: "\e007";
$elegant-clipboard-icon: "\e008";
$elegant-newspaper-icon: "\e009";
$elegant-notebook-icon: "\e00a";
$elegant-book-open-icon: "\e00b";
$elegant-browser-icon: "\e00c";
$elegant-calendar-icon: "\e00d";
$elegant-presentation-icon: "\e00e";
$elegant-picture-icon: "\e00f";
$elegant-pictures-icon: "\e010";
$elegant-video-icon: "\e011";
$elegant-camera-icon: "\e012";
$elegant-printer-icon: "\e013";
$elegant-toolbox-icon: "\e014";
$elegant-briefcase-icon: "\e015";
$elegant-wallet-icon: "\e016";
$elegant-gift-icon: "\e017";
$elegant-bargraph-icon: "\e018";
$elegant-grid-icon: "\e019";
$elegant-expand-icon: "\e01a";
$elegant-focus-icon: "\e01b";
$elegant-edit-icon: "\e01c";
$elegant-adjustments-icon: "\e01d";
$elegant-ribbon-icon: "\e01e";
$elegant-hourglass-icon: "\e01f";
$elegant-lock-icon: "\e020";
$elegant-megaphone-icon: "\e021";
$elegant-shield-icon: "\e022";
$elegant-trophy-icon: "\e023";
$elegant-flag-icon: "\e024";
$elegant-map-icon: "\e025";
$elegant-puzzle-icon: "\e026";
$elegant-basket-icon: "\e027";
$elegant-envelope-icon: "\e028";
$elegant-streetsign-icon: "\e029";
$elegant-telescope-icon: "\e02a";
$elegant-gears-icon: "\e02b";
$elegant-key-icon: "\e02c";
$elegant-paperclip-icon: "\e02d";
$elegant-attachment-icon: "\e02e";
$elegant-pricetags-icon: "\e02f";
$elegant-lightbulb-icon: "\e030";
$elegant-layers-icon: "\e031";
$elegant-pencil-icon: "\e032";
$elegant-tools-icon: "\e033";
$elegant-tools-2-icon: "\e034";
$elegant-scissors-icon: "\e035";
$elegant-paintbrush-icon: "\e036";
$elegant-magnifying-glass-icon: "\e037";
$elegant-circle-compass-icon: "\e038";
$elegant-linegraph-icon: "\e039";
$elegant-mic-icon: "\e03a";
$elegant-strategy-icon: "\e03b";
$elegant-beaker-icon: "\e03c";
$elegant-caution-icon: "\e03d";
$elegant-recycle-icon: "\e03e";
$elegant-anchor-icon: "\e03f";
$elegant-profile-male-icon: "\e040";
$elegant-profile-female-icon: "\e041";
$elegant-bike-icon: "\e042";
$elegant-wine-icon: "\e043";
$elegant-hotairballoon-icon: "\e044";
$elegant-globe-icon: "\e045";
$elegant-genius-icon: "\e046";
$elegant-map-pin-icon: "\e047";
$elegant-dial-icon: "\e048";
$elegant-chat-icon: "\e049";
$elegant-heart-icon: "\e04a";
$elegant-cloud-icon: "\e04b";
$elegant-upload-icon: "\e04c";
$elegant-download-icon: "\e04d";
$elegant-target-icon: "\e04e";
$elegant-hazardous-icon: "\e04f";
$elegant-piechart-icon: "\e050";
$elegant-speedometer-icon: "\e051";
$elegant-global-icon: "\e052";
$elegant-compass-icon: "\e053";
$elegant-lifesaver-icon: "\e054";
$elegant-clock-icon: "\e055";
$elegant-aperture-icon: "\e056";
$elegant-quote-icon: "\e057";
$elegant-scope-icon: "\e058";
$elegant-alarmclock-icon: "\e059";
$elegant-refresh-icon: "\e05a";
$elegant-happy-icon: "\e05b";
$elegant-sad-icon: "\e05c";
$elegant-facebook-icon: "\e05d";
$elegant-twitter-icon: "\e05e";
$elegant-googleplus-icon: "\e05f";
$elegant-rss-icon: "\e060";
$elegant-tumblr-icon: "\e061";
$elegant-linkedin-icon: "\e062";
$elegant-dribbble-icon: "\e063";

